@import "../color.less";

.head {
  width: 100vw;
  height: 4rem;
  box-shadow: 0 3px 4px @_sys-mid-gray;
  position: fixed;
  z-index: 999;
  background-color: @_sys-white;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.head__title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.head__search {
  width: 35rem;
  margin-top: 0.8rem;
  display: flex;
}

.head__func {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  margin-left: 2rem;
}
