@import "../color.less";

.portal {
  width: 67vw;
  margin: 0 auto;
}

.func-part {
  display: grid;
  grid-template-columns: 65% auto;
  grid-column-gap: 1.2rem;
  margin-bottom: 1.2rem;
  height: 30rem;
}

.headline {
  font-weight: 500;
}
