@import "../color.less";

.portal {
  width: 55vw;
  margin: 1rem auto;
}

// 标题组件
.head-component {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  .web-title {
    font-size: 2rem;
    font-weight: 200;
  }

  .web-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .des {
    color: @_sys-gray;
  }
}

.head-component * {
  margin-top: 0.6rem;
}
