@media screen and (min-width: 450px) {
  .main {
    background-image: url(https://bebopfzj.oss-cn-hangzhou.aliyuncs.com/uPic/2020-03-12-vEZGY5.png);
    background-size: 2000px 1100px;
  }
}

.main {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
}

.content {
  margin-top: 4.1rem;
}
