@import "../color.less";

.portal {
  width: 1320px;
  margin: 0.6rem auto;
}

.main-container {
  display: flex;
}

.novel-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1.8rem;
  width: 930px;

  .novel-card {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0.4rem 0.8rem;
    width: 10rem;

    .novel-title {
      font-size: 0.9rem;
      line-height: 1.4rem;
      color: @_sys-black;
      overflow: hidden;
    }

    .novel-img {
      margin: 0 0.4rem;
    }

    .novel-img:hover .mask {
      opacity: 1;
    }

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(30, 30, 30, 0.8);
      opacity: 0;
      transition: 0.3s ease-in;

      .mask-info:first-child {
        margin-top: 100%;
      }

      .mask-info {
        color: @_sys-white;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 0.2rem;

        .mask-title {
          color: @_sys-blue;
        }
      }
    }
  }

  .novel-card:hover {
    cursor: pointer;
  }
}

.function-container {
  border-left: 1px solid @_sys-mid-gray;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .user-info-container {
    display: flex;
    border-bottom: 1px solid @_sys-mid-gray;
    height: 10rem;

    .user-head {
      width: 8rem;
      height: 8rem;
      margin-top: 0.8rem;
      margin-left: 1.5rem;
    }

    .user-info {
      margin-top: 1.4rem;
      margin-left: 2.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .info-item {
        flex-basis: 100%;
        line-height: 0.5rem;

        .info-title {
          display: inline-block;
          font-size: 1rem;
          color: @_sys-gray;
          width: 5rem;
        }
      }

      .func-item {
        align-self: flex-end;
        margin-bottom: 1.5rem;
      }
    }
  }

  .ranking-title {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
    font-size: 1.4rem;
  }

  .ranking-item {
    border-bottom: 1px solid @_sys-mid-light-gray;
    width: 22rem;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
    margin-left: 1.4rem;

    .ranking {
      display: inline-block;
      margin-left: 0.6rem;
      margin-right: 0.6rem;
      width: 1.6rem;
      font-size: 1.2rem;
      color: @_sys-pink;
      font-style: italic;
    }
  }
}
