@import "../color.less";

@media screen and (min-width: 450px) {
  .reading {
    width: 65vw;
    & > div:nth-child(1) {
      font-size: 2.4rem;
    }
    & :last-child {
      font-size: 1.2rem;
      line-height: 2.4rem;
    }
  }

  .func-container {
    width: 65vw;
  }
}

@media screen and (max-width: 450px) {
  .reading {
    width: 100vw;
    & > div:nth-child(1) {
      font-size: 1.5rem;
    }
    & :last-child {
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }

  .func-container {
    width: 100vw;
  }
}

.reading-container {
  background-color: @_sys-light-gray;
  min-height: 100%;
  min-width: 100%;
  padding-bottom: 1.2rem;
  margin-top: -3rem;
}

.reading {
  margin: auto;
  padding: 1rem 2rem 2rem;
  background-color: @_sys-super-light-gray;

  & > div:nth-child(1) {
    margin: 1rem auto 1rem;
    text-align: center;
    font-weight: bold;
  }
}

.divider {
    margin: 1rem 0 1rem;
}

.func-container {
  background-color: @_sys-super-light-gray;
  margin: 0.8rem auto 0;
  padding: 0.4rem;
  display: flex;
  justify-content: space-around;
}
