@import 'color';
@import 'dimensions';

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  color: @base-font-color;
}

button,
input,
select,
textarea {
  font-family: @font-list;
  &:focus {
    outline: none !important;
  }
}
