@import "color";

@font-list: "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
@common-border-radius: 0.5rem;
@common-header-height: 48px;

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: @_base_black;
}

button,
input,
select,
textarea {
  font-family: @font-list;
  &:focus {
    outline: none !important;
  }
}
