@_sys-red: #ff3b30;
@_sys-orange: #e6a23c;
@_sys-yellow: #ffcc00;
@_sys-green: #67c23a;
@_sys-light-blue: #5ac8fa;
@_sys-blue: #109eff;
@_sys-heavy-blue: #1966c0;
@_sys-purple: #5856d6;
@_sys-pink: #ff2d55;
@_sys-white: #fff;
@_sys-super-light-gray: #efeff4;
@_sys-light-gray: #e5e5ea;
@_sys-mid-light-gray: #d1d1d6;
@_sys-mid-gray: #c7c7cc;
@_sys-gray: #8e8e93;
@_sys-light-black: #37404f;
@_sys-mid-black: #24292e;
@_sys-low-black: rgba(0, 0, 0, 0.54);
@_sys-black: #000;
@_chart-blue: #048bf4;
@_chart-green: #1bd95d;
@_chart-purple: #9b49db;

@_base_black: #2b2b2b;


@_color-main: @_sys-heavy-blue;

// =============

@--base_color_00dp_black: #2c2d2c;
@--base_color_01dp_black: #363736;
@--base_color_02dp_black: #3a3b3a;
@--base_color_03dp_black: #3c3d3c;
@--base_color_04dp_black: #3f3f3f;
@--base_color_06dp_black: #434443;
@--base_color_08dp_black: #454645;
@--base_color_12dp_black: #494a49;
@--base_color_16dp_black: #4b4c4b;
@--base_color_24dp_black: #4d4e4d;
@--base_color_white: #fff;

:root {
  --base_color_red: rgb(255, 59, 48);
  --base_color_light-red: rgb(255, 45, 85);
  --base_color_blue: rgb(0, 122, 255);
  --base_color_light-blue: rgb(90, 200, 250);
  --base_color_heavy-blue: rgb(88, 86, 214);
  --base_color_green: rgb(52, 199, 89);
  --base_color_orange: rgb(255, 149, 0);
  --base_color_purple: rgb(175, 82, 222);
  --base_color_yellow: rgb(255, 204, 0);

  --sys_main: rgb(0, 102, 204);
  --sys_main-active: rgb(40, 152, 255);
  --sys_dangerous: rgb(227, 1, 2);
  --sys_title: rgb(30, 30, 32);
  --sys_title-active: rgba(30, 30, 32, .6);
  --sys_text: rgb(134, 134, 139);

  --sys_base_background: white;
  --sys_page_background: white;
  --sys_component_background: #f7f7f7;
}

// 黑暗模式
//@media (prefers-color-scheme: dark) {
//  :root {
//    --base_color_red: rgb(255, 69, 58);
//    --base_color_light-red: rgb(255, 55, 95);
//    --base_color_blue: rgb(10, 132, 255);
//    --base_color_light-blue: rgb(100, 210, 255);
//    --base_color_heavy-blue: rgb(94, 92, 230);
//    --base_color_green: rgb(48, 209, 88);
//    --base_color_orange: rgb(255, 159, 10);
//    --base_color_purple: rgb(191, 90, 242);
//    --base_color_yellow: rgb(255, 214, 10);
//
//    --sys_main: var(--base_color_blue);
//    --sys_main-active: #1966c0;
//    --sys_title: rgba(255, 255, 255, 1);
//    --sys_title-active: var(--sys_main-active);
//    --sys_primary-text: rgba(255, 255, 255, .85);
//    --sys_secondary-text: rgba(255, 255, 255, .65);
//    --sys_third-text: rgba(255, 255, 255, .50);
//    --sys_disable: rgba(255, 255, 255, .45);
//    --sys_border: rgba(255, 255, 255, .25);
//    --sys_dividers: rgba(255, 255, 255, .15);
//    --sys_dangerous: var(--base_color_light-red);
//
//    --sys_base_background: #2c2d2c;
//    --sys_page_background: #363736;
//    --sys_component_background: #454645;
//  }
//}





