@_sys-red: #ff3b30;
@_sys-orange: #e6a23c;
@_sys-yellow: #ffcc00;
@_sys-green: #67c23a;
@_sys-light-blue: #5ac8fa;
@_sys-blue: #109eff;
@_sys-heavy-blue: #1966c0;
@_sys-purple: #5856d6;
@_sys-pink: #ff2d55;
@_sys-white: #fff;
@_sys-super-light-gray: #efeff4;
@_sys-light-gray: #e5e5ea;
@_sys-mid-light-gray: #d1d1d6;
@_sys-mid-gray: #c7c7cc;
@_sys-gray: #8e8e93;
@_sys-light-black: #37404f;
@_sys-mid-black: #24292e;
@_sys-low-black: rgba(0, 0, 0, 0.54);
@_sys-black: #000;
@_chart-blue: #048bf4;
@_chart-green: #1bd95d;
@_chart-purple: #9b49db;

@_base_black: #2b2b2b;


@_color-main: @_sys-heavy-blue;
